a {
    color: black;
    text-decoration: none;
}

.a {
    color: #48a6ea;
    cursor: pointer;
}

.desc {
    font-size: 14px;
    color: rgba(0,0,0,0.5);
    line-height: 20px;
}

.text {
    font-size: 18px;
    color: rgba(0,0,0,0.9);
}

.normal_flex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.t-table--empty {
    border-bottom: none !important;
}
